table {
    margin-bottom: 30px;
}

table,td,th {
    border: 4px groove rgb(208, 206, 206);
    border-collapse: collapse;
}

td,th {
    width: 150px;
    height: 20px;
    font-size: 25px; 
    text-align: center;
    justify-items: center;
}

input {
    width: 30px;
    height: 100%;
    margin-bottom: 1px;
}

.checked {
    color: rgb(245, 44, 44);
    font-weight: bold;
}